<div class="container">
  <div class="post-form row">
    <div class="heading col-xs-12 col-sm-12 col-md-8">BELONG ANYWHERE - Add New Achievement</div>
    <div class="post-form col-xs-12 col-sm-12 col-md-8">

      <%= form_for @post, html: { multipart: true, class: 'form'} do |f| %>
          <%= errors_for(@post) %>

          <div class="form-group">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :address, "Address or Location" %>
            <%= f.text_field :address, :id => 'geo-input', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :desc, "Description" %>
            <%= f.text_area :desc, class: 'form-control', rows: '3' %>
          </div>

          <div class="form-group">
            <%= f.label :photo, "Photo" %><br/>
            <%= f.file_field :photo, :multiple => true, name: "post_attachments[photo][]", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :target, "Target Date" %><br/>
            <%= f.date_select :target, class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Add New Place", :class => 'btn btn-primary' %>
          </div>
      <% end %>

    </div>

    <div class="post-form-right col-xs-12 col-sm-12 col-md-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum et ex elementum pretium. Nam commodo sapien eget rhoncus feugiat. Donec sed ultrices risus. Etiam lectus massa, facilisis iaculis imperdiet id, pretium ac orci. Quisque fermentum convallis mi, non rhoncus eros congue non. Mauris congue fringilla sem mollis elementum. Vestibulum nec sem id libero efficitur sollicitudin. Nunc tristique ac neque quis semper. Suspendisse potenti. Sed bibendum, lacus vel volutpat ullamcorper, tortor tortor laoreet erat, ac tempus dolor risus at turpis. Integer sit amet faucibus lorem, quis aliquam nibh. Suspendisse volutpat fermentum nisi quis maximus. Suspendisse risus ex, feugiat ut magna vel, aliquam posuere dui. Sed commodo pellentesque felis, quis porttitor quam pharetra eget. Nam eu nunc ex. Integer dapibus mattis velit, ac ullamcorper elit viverra quis.</p>
    </div>

  </div>
</div>