<div id="wrap">

  <div id="hero-section" class="section">
    <h2 class="heading-section">BELONG ANYWHERE</h2>
    <div class="subheading-section">See how MyWanderlusty create a sense of belonging around the world</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="featured col-xs-12">
        <div class="achieve pull-left"><%= pluralize(@all_posts.size, ' achievement') %></div>
        <div class="will_paginate pull-right"><%= will_paginate @posts %></div>
      </div>

      <div class="post-wrapper">
        <% @posts.each do |post| %>
            <div class="post-box col-xs-12 col-sm-6 col-md-4">

              <div class="productbox">
                <div class="post-header"><%= link_to post.title, post %></div>
                <div class="imgthumb img-responsive">
                  <%#= link_to image_tag("http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview'), post %>
                  <% if post.post_attachments.nil? %>
                      <%= link_to image_tag("http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview'), post %>
                  <% else %>
                      <%= link_to image_tag(post.post_attachments[0].photo_url(:hero), class: 'img_preview'), post %>
                  <% end %>
                  <!--<img class="img_preview" src="http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg">-->
                </div>
                <div class="caption">
                  <div class="desc"><%= truncate(post.desc, :length => 125, :omission => '... (continued)') %></div>
                  <!--<div class="desc"><span class="glyphicon glyphicon-console" aria-hidden="true"></span><%#= post.desc %></div>-->
                  <div class="location"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= post.address %></div>
                  <div class="target"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= post.target %></div>
                  <div class="user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nuttapon P.</div>
                  <div class="status"><span class="fa fa-lock"></span></div>

                  <!--<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>-->
                  <!--<a href="#" class="btn btn-info btn-xs" role="button">Button</a>-->
                  <div class="show-button">
                    <a href="#" class="btn btn-info btn-md pull-left" role="button"><i class="fa fa-unlock-alt"></i> Unlock</a>
                    <a href="#" class="btn btn-default btn-md pull-right" role="button" data-toggle="modal" data-target="#myModal">Share</a>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel"><i class="fa fa-share-alt"></i> Share</h4>
                          </div>
                          <div class="modal-body">
                            <p><a title="Facebook" href="http://www.facebook.com/sharer.php?u=<%= post_url(post) %>&t=<%= post.title %>"><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x"></i></span></a> <a title="Twitter" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a> <a title="Google+" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x"></i></span></a> <a title="Linkedin" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x"></i></span></a> <a title="Reddit" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x"></i></span></a> <a title="WordPress" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-wordpress fa-stack-1x"></i></span></a> <a title="Digg" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-digg fa-stack-1x"></i></span></a>  <a title="Stumbleupon" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-stumbleupon fa-stack-1x"></i></span></a><a title="E-mail" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x"></i></span></a>  <a title="Print" href=""><span class="fa-stack fa-lg"><i class="fa fa-square-o fa-stack-2x"></i><i class="fa fa-print fa-stack-1x"></i></span></a></p>

                            <h2><i class="fa fa-envelope"></i> Newsletter</h2>

                            <p>Subscribe to our weekly Newsletter and stay tuned.</p>

                            <form action="" method="post">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="your@email.com">
                              </div>
                              <br />
                              <button type="submit" value="sub" name="sub" class="btn btn-primary"><i class="fa fa-share"></i> Subscribe Now!</button>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

<%#= link_to 'New Post', new_post_path %>
</div>