<div id="wrap">

  <div id="hero-section" class="section">
    <h2 class="heading-section">BELONG ANYWHERE</h2>
    <div class="subheading-section">See how Voyagelista hosts create a sense of belonging around the world</div>
  </div>

  <div class="container">
    <div class="row">
      <div class="featured col-xs-12"><%= pluralize(@posts.size, 'locked achievement') %></div>
      <div class="post-wrapper">
        <% @posts.each do |post| %>
            <div class="post-box col-xs-12 col-sm-6 col-md-4">

              <div class="productbox">
                <div class="post-header"><%= link_to post.title, post %></div>
                <div class="imgthumb img-responsive">
                  <%#= link_to image_tag("http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview'), post %>
                  <% if post.pictures[0].nil? %>
                      <%= link_to image_tag("http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview'), post %>
                  <% else %>
                      <%= link_to image_tag(post.pictures[0].url(:hero), class: 'img_preview'), post %>
                  <% end %>
                  <!--<img class="img_preview" src="http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg">-->
                </div>
                <div class="caption">
                  <div class="desc"><%= truncate(post.desc, :length => 125, :omission => '... (continued)') %></div>
                  <!--<div class="desc"><span class="glyphicon glyphicon-console" aria-hidden="true"></span><%#= post.desc %></div>-->
                  <div class="location"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span><%= post.address %></div>
                  <div class="target"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><%= post.target %></div>
                  <div class="user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Nuttapon P.</div>

                  <!--<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a>-->
                  <!--<a href="#" class="btn btn-info btn-xs" role="button">Button</a>-->
                  <a href="#" class="btn btn-default btn-md pull-right" role="button">Share</a>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

<%#= link_to 'New Post', new_post_path %>
</div>