<div id="hero-section" class="section">
  <h2 class="heading-section">BELONG ANYWHERE</h2>
  <div class="subheading-section">See how MyWanderlusty hosts create a sense of belonging around the world</div>
</div>

<div class="container">
  <div class="profile row">
    <div class="main-img col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <h1><%= @post.title %></h1>
      <%#= @post.post_attachments.size %>
      <%= image_tag @post_attachments[0].photo_url(:hero), class: 'img_preview' %>

      <div class="sub-image clearfix">

        <% @post_attachments.each_with_index do |img, index| %>
            <% if index > 0 %>
                <div class="small-img col-xs-12 col-sm-12 col-md-4 col-lg-4">
                  <%= image_tag img.photo_url(:hero), class: 'img_preview' %>
                </div>
            <% end %>
        <% end %>

        <!--<div class="small-img col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
        <!--<%#= image_tag "http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview' %>-->
        <!--</div>-->
        <!--<div class="small-img col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
        <!--<%#= image_tag "http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview' %>-->
        <!--</div>-->
        <!--<div class="small-img col-xs-12 col-sm-12 col-md-4 col-lg-4">-->
        <!--<%#= image_tag "http://img.dummy-image-generator.com/abstract/dummy-400x300-DesiccationCracks.jpg", class: 'img_preview' %>-->
        <!--</div>-->

      </div>

      <%= social_share_button_tag(@post.title) %>

      <div class="post-section">
        <p class="desc-post">
          <!--<strong>Description:</strong>-->
          <%= @post.desc.html_safe %>
        </p>

        <p class="target">
          <strong>Target:</strong>
          <%= @post.target %>
        </p>

        <p class="address">
          <strong>Address:</strong>
          <%= @post.address %>
        </p>

        <p class="lat">
          <strong>Latitude:</strong>
          <%= @post.latitude %>
        </p>

        <p class="lon">
          <strong>Longitude:</strong>
          <%= @post.longitude %>
        </p>

      </div>

      <%#= link_to 'Edit', edit_post_path(@post) %>
      <%#= link_to 'Back', posts_path %>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="profile-box col-xs-12">
        <div class="profile-sidebar">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-pic">
            <div class="user-box one">
              <!--<img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-responsive" alt="">-->
            </div>
          </div>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              Nuttapon Pichetpongsa
            </div>
            <div class="profile-usertitle-job">
              Voyager
            </div>
            <div class="profile-usertitle-about">
              He is also a Blogger, Bookworm, Adventurous Traveler and Coffee Lover. Nuttapon's passion is about innovating test engineering methodologies and designing solutions to overall simplify product testing.
            </div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm">Follow</button>
            <button type="button" class="btn btn-danger btn-sm">Message</button>
          </div>
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <div class="profile-usermenu">
            <ul class="nav">
              <li class="active">
                <a href="#">
                  <i class="glyphicon glyphicon-home"></i>
                  Overview </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-user"></i>
                  Account Settings </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-ok"></i>
                  Achievements </a>
              </li>
              <li>
                <a href="#">
                  <i class="glyphicon glyphicon-flag"></i>
                  Help </a>
              </li>
            </ul>
          </div>
          <!-- END MENU -->
        </div>
      </div>

      <div class="location-box col-xs-12">
        <h3>Address or Location</h3>
        <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@post.latitude}%2C#{@post.longitude}", :class => "img_preview" %>
      </div>
    </div>
  </div>
</div>





